.task-list-item {
	list-style-type: none !important;
}

.task-list-item input[type="checkbox"] {
	vertical-align: middle;
	transform: scale(1.25);
	margin-left: -25px;
	margin-right: 5px;
}

.task-list-item input[type="checkbox"] + label {
	cursor: pointer;
}

label {
	display: inline;
	font-size: 100%;
	vertical-align: middle;
}